.trainYelloe-cls-1 {
  fill: url(#_Безымянный_градиент_110-3);
}

.trainYelloe-cls-1, .trainYelloe-cls-2, .trainYelloe-cls-3, .trainYelloe-cls-4, .trainYelloe-cls-5, .trainYelloe-cls-6, .trainYelloe-cls-7, .trainYelloe-cls-8, .trainYelloe-cls-9, .trainYelloe-cls-10, .trainYelloe-cls-11, .trainYelloe-cls-12, .trainYelloe-cls-13, .trainYelloe-cls-14, .trainYelloe-cls-15, .trainYelloe-cls-16, .trainYelloe-cls-17, .trainYelloe-cls-18, .trainYelloe-cls-19, .trainYelloe-cls-20, .trainYelloe-cls-21, .trainYelloe-cls-22, .trainYelloe-cls-23, .trainYelloe-cls-24, .trainYelloe-cls-25, .trainYelloe-cls-26, .trainYelloe-cls-27, .trainYelloe-cls-28, .trainYelloe-cls-29, .trainYelloe-cls-30, .trainYelloe-cls-31, .trainYelloe-cls-32, .trainYelloe-cls-33, .trainYelloe-cls-34, .trainYelloe-cls-35, .trainYelloe-cls-36, .trainYelloe-cls-37, .trainYelloe-cls-38, .trainYelloe-cls-39, .trainYelloe-cls-40, .trainYelloe-cls-41, .trainYelloe-cls-42, .trainYelloe-cls-43, .trainYelloe-cls-44, .trainYelloe-cls-45, .trainYelloe-cls-46, .trainYelloe-cls-47, .trainYelloe-cls-48, .trainYelloe-cls-49, .trainYelloe-cls-50, .trainYelloe-cls-51, .trainYelloe-cls-52, .trainYelloe-cls-53, .trainYelloe-cls-54, .trainYelloe-cls-55, .trainYelloe-cls-56, .trainYelloe-cls-57, .trainYelloe-cls-58, .trainYelloe-cls-59, .trainYelloe-cls-60, .trainYelloe-cls-61, .trainYelloe-cls-62, .trainYelloe-cls-63, .trainYelloe-cls-64, .trainYelloe-cls-65, .trainYelloe-cls-66, .trainYelloe-cls-67, .trainYelloe-cls-68, .trainYelloe-cls-69, .trainYelloe-cls-70, .trainYelloe-cls-71, .trainYelloe-cls-72, .trainYelloe-cls-73, .trainYelloe-cls-74, .trainYelloe-cls-75, .trainYelloe-cls-76, .trainYelloe-cls-77, .trainYelloe-cls-78, .trainYelloe-cls-79, .trainYelloe-cls-80, .trainYelloe-cls-81, .trainYelloe-cls-82, .trainYelloe-cls-83, .trainYelloe-cls-84, .trainYelloe-cls-85, .trainYelloe-cls-86, .trainYelloe-cls-87 {
  stroke-width: 0px;
}

.trainYelloe-cls-2 {
  fill: #393131;
}

.trainYelloe-cls-3 {
  fill: #9b9c9a;
}

.trainYelloe-cls-4 {
  fill: #3d4b49;
}

.trainYelloe-cls-5 {
  fill: #697179;
}

.trainYelloe-cls-6 {
  fill: #676767;
}

.trainYelloe-cls-7 {
  fill: #6c5d5d;
}

.trainYelloe-cls-8 {
  fill: #d5d5d4;
}

.trainYelloe-cls-9 {
  fill: #566465;
}

.trainYelloe-cls-10 {
  fill: #9eb8b6;
}

.trainYelloe-cls-11 {
  fill: #bdbfbc;
}

.trainYelloe-cls-12 {
  fill: #70370f;
}

.trainYelloe-cls-13 {
  fill: url(#_Безымянный_градиент_140);
}

.trainYelloe-cls-14 {
  fill: #d83d2b;
}

.trainYelloe-cls-15 {
  fill: #cc7c11;
}

.trainYelloe-cls-16 {
  fill: #afb0ae;
}

.trainYelloe-cls-17 {
  fill: #90918f;
}

.trainYelloe-cls-18 {
  fill: #212526;
}

.trainYelloe-cls-19 {
  fill: #a46d14;
}

.trainYelloe-cls-20 {
  fill: #494751;
}

.trainYelloe-cls-21 {
  fill: #af6616;
}

.trainYelloe-cls-22 {
  fill: url(#_Безымянный_градиент_110-4);
}

.trainYelloe-cls-23 {
  fill: #cd3e46;
}

.trainYelloe-cls-24 {
  fill: url(#_Безымянный_градиент_30-4);
}

.trainYelloe-cls-25 {
  fill: url(#_Безымянный_градиент_110-5);
}

.trainYelloe-cls-26 {
  fill: #dd8a06;
}

.trainYelloe-cls-27 {
  fill: #c1c2c0;
}

.trainYelloe-cls-28 {
  fill: #cfd4d9;
}

.trainYelloe-cls-29 {
  fill: url(#_Безымянный_градиент_123-3);
}

.trainYelloe-cls-30 {
  fill: #dc8809;
}

.trainYelloe-cls-31 {
  fill: #bed4d7;
}

.trainYelloe-cls-32 {
  fill: #7c7a72;
}

.trainYelloe-cls-33 {
  fill: #c9823e;
}

.trainYelloe-cls-34 {
  fill: url(#_Безымянный_градиент_110-6);
}

.trainYelloe-cls-35 {
  fill: #c3c2c2;
}

.trainYelloe-cls-36 {
  fill: #f0f0f0;
}

.trainYelloe-cls-37 {
  fill: #b2191b;
}

.trainYelloe-cls-38 {
  fill: url(#_Безымянный_градиент_110-9);
}

.trainYelloe-cls-39 {
  fill: url(#_Безымянный_градиент_30-2);
}

.trainYelloe-cls-40 {
  fill: #d2d2d2;
}

.trainYelloe-cls-41 {
  fill: #eff0ee;
}

.trainYelloe-cls-42 {
  fill: #3b3b3b;
}

.trainYelloe-cls-43 {
  fill: url(#_Безымянный_градиент_110-7);
}

.trainYelloe-cls-44 {
  fill: #465253;
}

.trainYelloe-cls-45 {
  fill: url(#_Безымянный_градиент_30);
}

.trainYelloe-cls-46 {
  fill: #383938;
}

.trainYelloe-cls-47 {
  fill: #5a4e4e;
}

.trainYelloe-cls-48 {
  fill: #f7a960;
}

.trainYelloe-cls-49 {
  fill: #857372;
}

.trainYelloe-cls-50 {
  fill: #473d3e;
}

.trainYelloe-cls-51 {
  fill: url(#_Безымянный_градиент_140-2);
}

.trainYelloe-cls-52 {
  fill: #b0b0b0;
}

.trainYelloe-cls-53 {
  fill: #f7a40f;
}

.trainYelloe-cls-54 {
  fill: #9e9b93;
}

.trainYelloe-cls-55 {
  fill: url(#_Безымянный_градиент_110);
}

.trainYelloe-cls-56 {
  fill: url(#_Безымянный_градиент_123-2);
}

.trainYelloe-cls-57 {
  fill: #3d4145;
}

.trainYelloe-cls-58 {
  fill: #bab5ae;
}

.trainYelloe-cls-59 {
  fill: url(#_Безымянный_градиент_30-3);
}

.trainYelloe-cls-60 {
  fill: #a2a1a1;
}

.trainYelloe-cls-61 {
  fill: #f28f1d;
}

.trainYelloe-cls-62 {
  fill: url(#_Безымянный_градиент_110-2);
}

.trainYelloe-cls-63 {
  fill: #f29e07;
}

.trainYelloe-cls-64 {
  fill: #fab712;
}

.trainYelloe-cls-65 {
  fill: #9ba3b1;
}

.trainYelloe-cls-66 {
  fill: #5e636a;
}

.trainYelloe-cls-67 {
  fill: #fbb911;
}

.trainYelloe-cls-68 {
  fill: #4b4843;
}

.trainYelloe-cls-69 {
  fill: #40150d;
}

.trainYelloe-cls-70 {
  fill: #687481;
}

.trainYelloe-cls-71 {
  fill: #dfe0df;
}

.trainYelloe-cls-72 {
  fill: #b86d15;
}

.trainYelloe-cls-73 {
  fill: #ba1818;
}

.trainYelloe-cls-74 {
  fill: #c6c7ca;
}

.trainYelloe-cls-75 {
  fill: #eeeded;
}

.trainYelloe-cls-76 {
  fill: #80827f;
}

.trainYelloe-cls-77 {
  fill: #cac5bc;
}

.trainYelloe-cls-78 {
  fill: url(#_Безымянный_градиент_110-8);
}

.trainYelloe-cls-79 {
  fill: #a45917;
}

.trainYelloe-cls-80 {
  fill: #c87713;
}

.trainYelloe-cls-81 {
  fill: #30322d;
}

.trainYelloe-cls-82 {
  fill: #4e4d4d;
}

.trainYelloe-cls-83 {
  fill: #140608;
}

.trainYelloe-cls-84 {
  fill: #ea9401;
}

.trainYelloe-cls-85 {
  fill: url(#_Безымянный_градиент_123);
}

.trainYelloe-cls-86 {
  fill: #b92820;
}

.trainYelloe-cls-87 {
  fill: #cdcfcd;
}