.rails-svg {
  position: absolute;
  left: -5%;
  width: 150%;
}

.rails-cls-1 {
  fill: #393131;
}

.rails-cls-1, .rails-cls-2, .rails-cls-3, .rails-cls-4, .rails-cls-5, .rails-cls-6, .rails-cls-7, .rails-cls-8, .rails-cls-9, .rails-cls-10, .rails-cls-11, .rails-cls-12, .rails-cls-13, .rails-cls-14, .rails-cls-15, .rails-cls-16, .rails-cls-17, .rails-cls-18, .rails-cls-19, .rails-cls-20, .rails-cls-21 {
  stroke-width: 0px;
}

.rails-cls-2 {
  fill: #697179;
}

.rails-cls-3 {
  fill: #6c5d5d;
}

.rails-cls-4 {
  fill: #d5d5d4;
}

.rails-cls-5 {
  fill: #b4afa7;
}

.rails-cls-6 {
  fill: #cfd4d9;
}

.rails-cls-7 {
  fill: #7c7a72;
}

.rails-cls-8 {
  fill: #c3c2c2;
}

.rails-cls-9 {
  fill: #5a4e4e;
}

.rails-cls-10 {
  fill: #857372;
}

.rails-cls-11 {
  fill: #473d3e;
}

.rails-cls-12 {
  fill: #b0b0b0;
}

.rails-cls-13 {
  fill: #9e9b93;
}

.rails-cls-14 {
  fill: #3d4145;
}

.rails-cls-15 {
  fill: #bab5ae;
}

.rails-cls-16 {
  fill: #a2a1a1;
}

.rails-cls-17 {
  fill: #9ba3b1;
}

.rails-cls-18 {
  fill: #5e636a;
}

.rails-cls-19 {
  fill: #c6c7ca;
}

.rails-cls-20 {
  fill: #eeeded;
}

.rails-cls-21 {
  fill: #cac5bc;
}